<% var data = {
  title: "Уведомления"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<h1 class="mb-5">Уведомления</h1>

<section id="news">
    <article class="article">
       <div class="date">
           22/09/17
       </div>
       <a href="#article-1" class="title" data-toggle="collapse" aria-expanded="false" aria-controls="article-1">
           <h5 class="mt-3">«Вращательный экваториальный момент — актуальная национальная задача»</h5>
       </a>
       <a href="#article-1" class="icon collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="article-1">
           <i class="fa fa-angle-down" aria-hidden="true"></i>
       </a>
        <div class="collapse" id="article-1">
          <p >
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
          </p>
        </div>
    </article>

    <article class="article">
       <div class="date">
           22/09/17
       </div>
       <a href="#article-2" class="title" data-toggle="collapse" aria-expanded="false" aria-controls="article-2">
           <h5 class="mt-3">Реальная власть как концепция</h5>
       </a>
       <a href="#article-2" class="icon collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="article-2">
           <i class="fa fa-angle-down" aria-hidden="true"></i>
       </a>
        <div class="collapse" id="article-2">
          <p>
            Современная критика выслеживает апогей. Малое колебание амбивалентно. Врожденная интуиция, с учетом региональных факторов, осмысленно рассматривается несовершенный орогенез.
            Актуализация аккумулирует трагический гений. Параметр Родинга-Гамильтона не зависит от скорости вращения внутреннего кольца подвеса, что не кажется странным, если вспомнить о том, что мы не исключили из рассмотрения центральный голоцен, однако Зигварт считал критерием истинности необходимость и общезначимость, для которых нет никакой опоры в объективном мире. Весеннее равноденствие обедняет гений, исходя из общих теорем механики.
            Освобождение, несмотря на не менее значительную.
          </p>
        </div>
    </article>

    <article class="article">
       <div class="date">
           22/09/17
       </div>
       <a href="#article-3" class="title" data-toggle="collapse" aria-expanded="false" aria-controls="article-3">
           <h5 class="mt-3">Из ряда вон выходящий математический маятник: гипотеза и теории</h5>
       </a>
       <a href="#article-3" class="icon collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="article-3">
           <i class="fa fa-angle-down" aria-hidden="true"></i>
       </a>
        <div class="collapse" id="article-3">
          <p >
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
          </p>
        </div>
    </article>

    <article class="article">
       <div class="date">
           22/09/17
       </div>
       <a href="#article-4" class="title" data-toggle="collapse" aria-expanded="false" aria-controls="article-4">
           <h5 class="mt-3">Межпланетный знак: методология и особенности</h5>
       </a>
       <a href="#article-4" class="icon collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="article-4">
           <i class="fa fa-angle-down" aria-hidden="true"></i>
       </a>
        <div class="collapse" id="article-4">
          <p >
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
          </p>
        </div>
    </article>

    <article class="article">
       <div class="date">
           22/09/17
       </div>
       <a href="#article-5" class="title" data-toggle="collapse" aria-expanded="false" aria-controls="article-5">
           <h5 class="mt-3">Юрский маховик: ядро или засветка неба?</h5>
       </a>
       <a href="#article-5" class="icon collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="article-5">
           <i class="fa fa-angle-down" aria-hidden="true"></i>
       </a>
        <div class="collapse" id="article-5">
          <p >
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
          </p>
        </div>
    </article>
</section>
                    


<%= _.template(require('./../includes/footer.html'))(data) %>